In [1]:
import numpy

In [2]:
import matplotlib

In [3]:
import pandas

In [4]:
import IPython

In [5]:
import seaborn

In [6]:
print("oimundo")

oimundo

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
lista = ['zanata','ana','david','maui']

In [10]:
lista

['zanata', 'ana', 'david', 'maui']

In [17]:
lista.sort(reverse=True)

In [18]:
lista

['zanata', 'maui', 'david', 'ana']

In [21]:
square = [0,1,4,9,16,25,36,49]

In [36]:
print(square)

[0, 1, 4, 9, 16, 25, 36, 49]

In [50]:
print(square[1:3])

[98, 99]

In [52]:
square[1:3] = [1,4]

In [53]:
square

[0, 1, 4, 9, 16, 25, 36, 49]

In [56]:
for valor in square:
    print("Valor :=", valor)

Valor := 0
Valor := 1
Valor := 4
Valor := 9
Valor := 16
Valor := 25
Valor := 36
Valor := 49

In [59]:
xx=enumerate(square)

In [60]:
xx

In [62]:
type(xx)

enumerate

In [63]:
for i in xx:
    print(i)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)

In [69]:
for chave,valor in enumerate(square):
    print(chave," -> ", valor)

0  ->  0
1  ->  1
2  ->  4
3  ->  9
4  ->  16
5  ->  25
6  ->  36
7  ->  49

# DicionÃ¡rios

In [73]:
capitals = {'USA':'Washington', 'France':'Paris','Brasil':'Brasilia','Italy': 'Rome'}

In [74]:
capitals

{'USA': 'Washington', 'France': 'Paris', 'Brasil': 'Brasilia', 'Italy': 'Rome'}

In [85]:
type(capitals)

dict

In [78]:
for chave, valor in capitals.items():
    print(chave,' --> ',valor)

USA  -->  Washington
France  -->  Paris
Brasil  -->  Brasilia
Italy  -->  Rome

In [79]:
for valor in capitals.values():
    print(valor)

Washington
Paris
Brasilia
Rome

In [80]:
for chave in capitals.keys():
    print(chave)

USA
France
Brasil
Italy

In [84]:
for chave in capitals.keys():
    print(chave, capitals[chave])

USA Washington
France Paris
Brasil Brasilia
Italy Rome

In [88]:

len(capitals)

4

In [189]:
import time 
start = time.time()
print("hello")
end = time.time()
print(end - start)

hello
0.0

## Comprehensions

In [195]:
start = time.time()
squares = []
for i in range(3000000):
    squares.append(i**2)
end = time.time()
print(end - start)

1.3732140064239502

In [191]:
# %time medir o tempo de execucao
%time square3 = [i**2 for i in range(3000000)]

Wall time: 988 ms

In [117]:
# criar uma lista; filtrar i mod 3 == 0
# %time medir o tempo de execucao
square3 = [i**2 for i in range(30) if i % 3 == 0]

Wall time: 0 ns

In [118]:
square3

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [198]:
square_dict = {i: i**2 for i in range(30) if i % 3 == 0}

In [199]:
square_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [200]:
# Trocar os valores com a chave
capitals_bycapital = {capitals[chave]: chave for chave in capitals}

In [201]:
capitals_bycapital

{'Washington': 'USA', 'Paris': 'France', 'Brasilia': 'Brasil', 'Rome': 'Italy'}

In [ ]:
%timeit sum(i**2 for i in range(1000000000))

In [ ]:
sq = {i: i**2 for in range(7) if i % 3 == 0}

In [ ]:
type(sq)

In [213]:
lista

['zanata', 'maui', 'david', 'ana']